.square {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    display: table-cell !important;
    position: relative;

    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
}

.board-row:nth-of-type(odd) .square:nth-of-type(odd) {
    background-color: #FFCE9E;
}

.board-row:nth-of-type(odd) .square:nth-of-type(even) {
    background-color: #D18B47;
}

.board-row:nth-of-type(even) .square:nth-of-type(odd) {
    background-color: #D18B47;
}

.board-row:nth-of-type(even) .square:nth-of-type(even) {
    background-color: #FFCE9E;
}

.board {
    display: inline-block !important;
    margin: 0 auto !important;
    padding: 3px !important;
}

.board-rotate {
    transform: rotate(180deg);
}

.square.selected {
    border: 3px solid yellow;
}

.token {
    width: 50%;
    height: 50%;
    border-radius: 100%;
    display: inline-block;
    box-sizing: content-box;
}

.token.token-black {
    background-color: black;
    border: 5px solid #585858bd;
}

.token.token-white {
    background-color: white;
    border: 5px solid #dfdfdfbd;
}

.possibility {
    width: 40%;
    height: 40%;
    border-radius: 100%;
    display: inline-block;
    background-color: black;
    opacity: 0.6;
}

.col-label, .row-label {
    position: absolute;
    font-size: 11px;
}

.col-label {
    bottom: 3px;
    left: 6px;
}

.row-label {
    top: 3px;
    right: 6px;
}

.anti-rotate {
    transform: rotate(-180deg);
}