.square {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    display: table-cell;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.row:nth-of-type(odd) .square:nth-of-type(odd) {
    background-color: #FFCE9E;
}

.row:nth-of-type(odd) .square:nth-of-type(even) {
    background-color: #D18B47;
}

.row:nth-of-type(even) .square:nth-of-type(odd) {
    background-color: #D18B47;
}

.row:nth-of-type(even) .square:nth-of-type(even) {
    background-color: #FFCE9E;
}

.square.selected {
    border: 3px solid yellow;
}

.token {
    width: 60%;
    height: 60%;
    border-radius: 100%;
    display: inline-block;
}

.token.token-black {
    background-color: black;
}

.token.token-white {
    background-color: white;
}